{% extends "homebase.html" %}

{% block body %}
    <table class="table-fixed">
    <thead>
        <tr class="bg-gray-200">
        <th class="w-1/2 px-4 py-2">Id</th>
        <th class="w-1/4 px-4 py-2">Title</th>
        <th class="w-1/4 px-4 py-2">Description</th>
        <th class="w-1/4 px-4 py-2">Due Date:</th>
        <th class="w-1/4 px-4 py-2">Status</th>
        <th class="w-1/4 px-4 py-2">Priority</th>
        <th class="w-1/4 px-4 py-2">Created Date:</th>
        <th class="w-1/4 px-4 py-2">Updated Date:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
        <td class="border px-4 py-2">{Intro to CSS}</td>
        <td class="border px-4 py-2">Adam</td>
        <td class="border px-4 py-2">858</td>
        </tr>
    </tbody>
    </table>
{% endblock body %}

