{% extends "base.html" %}

{% block content %}
<form method == "POST">
    <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
        <div>
            <label>Username</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Username</label>
            <input type="text" name="username">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </div>
</form>
{% endblock content %}