<header class="z-30 flex items-center w-full h-24 sm:h-32 border-zinc-400">
    <div class="container flex items-center justify-between px-6 mx-auto">
        <div class="text-3xl font-black text-gray-800 uppercase dark:text-white">
            TO DO LISTY
        </div>
        <div class="flex items-center">
            <nav class="items-center hidden text-lg text-gray-800 uppercase font-sen dark:text-white lg:flex">
                <a href="{% url 'index' %}" class="flex px-6 py-2 font-bold">
                    Home
                </a>
                <a href="{% url 'list' %}" class="flex px-6 py-2">
                    List
                </a>
                <a href="#" class="flex px-6 py-2">
                    Task
                </a>
                <a href="#" class="flex px-6 py-2">
                    Profile
                </a>
                <a href="{% url 'login' %}" class="flex px-6 py-2">
                    Log out
                </a>
            </nav>
            <button class="flex flex-col ml-4 lg:hidden">
                <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white">
                </span>
                <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white">
                </span>
                <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white">
                </span>
            </button>
        </div>
    </div>
</header>